# Python cache
__pycache__/
*.pyc

# Virtual Environment
venv/
.venv/

# Environment files
.env

# Streamlit
.streamlit/secrets.toml

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# Dataset
dataset/*.csv

# Dataset
dataset/*.csv

# Extra trained models
models/logistic_regression.pkl
models/naive_bayes.pkl
models/random_forest.pkl